<ion-header>
  <ion-toolbar>
    <ion-title slot="primary">{{title}}</ion-title>
    <ion-img slot="secondary" class="logo" src="../assets/paw.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-searchbar name="searchTerm" [formControl]="searchInput">
      </ion-searchbar>
    
    
    <ion-list>
      <ion-item *ngIf="searching==true">
          <p>You searched for {{searchTerm}}</p>
      </ion-item>
      <div class="trainingDiv" *ngFor="let training of pageItems">
        <div class="trainingTitle">{{training.title}}</div>
        <div class="imgDiv">
            <p class="trainigImgContent"><img src="{{training.img}}"></p>
        </div>
        <p class="trainigContent">{{training.word}}</p>
        
      </div>
    </ion-list>


</ion-content>
