<ion-header>
  <ion-toolbar>
    <ion-title slot="primary">{{title}}</ion-title>
    <ion-img slot="secondary" class="logo" src="../assets/paw.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  
        <!-- TOILET TRAINING -->
    
        <div class="marginTop10">
            <ion-label class="vidTitleLabel">
                <ion-text class="vidTitle">Toilet Training</ion-text>
            </ion-label>
                
            <div class="vidSubtitle">What you might need: pee pad, treats</div>
            <div class="vidSubtitle">Tips: they pee after they sleep, eat, play. Never scold.</div>
        </div>

        <div class="vidDiv">
            <iframe width="360" height="150" src="https://www.youtube.com/embed/-W_mDxOacj0" frameborder="0" allowfullscreen></iframe>
            <iframe width="360" height="150" src="https://www.youtube.com/embed/xpzjtHPQpOk" frameborder="0" allowfullscreen></iframe>
            <iframe width="360" height="150" src="https://www.youtube.com/embed/jGWaL2YpLcs" frameborder="0" allowfullscreen></iframe>
        </div>

        
    

    <!-- CHEWING and BITING -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Chewing/ Biting</ion-text>
    </ion-label>

    <div class="vidSubtitle">What you might need: chew toy, seperation</div>
    <div class="vidSubtitle">Tips: Do fetch. use hard/medium chewing item. It could come from boredom, teething</div>

    <div class="vidDiv">
        <iframe width="360" height="150" src="https://www.youtube.com/embed/JRl1FhIBeKc" frameborder="0" allowfullscreen></iframe>  
        <iframe width="360" height="150" src="https://www.youtube.com/embed/DBc7udJ0O9g?start=40" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="150" src="https://www.youtube.com/embed/3Odb0BAjZxA" frameborder="0" allowfullscreen></iframe>
    </div>
    
    <!-- COMMANDS -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Commands</ion-text>
    </ion-label>

    <div class="vidSubtitle">What you might need: treats</div>

    <div class="vidDiv">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/DPNz6reMVXY?start=100" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/stdnfuFbmUc" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/w525cY5FP7k" frameborder="0" allowfullscreen></iframe>

    </div>

    <!-- SOCIALISE -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Socialise</ion-text>
    </ion-label>
    
    <div class="vidSubtitle">What you might need: treats, harness, leash</div>

    <div class="vidDiv">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/KPalWyt1b8c" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/NWh4zc8BVAQ" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- BARKING -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Barking</ion-text>
    </ion-label>
    
    <div class="vidSubtitle">What you might need: treats</div>

    <div class="vidDiv">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/OFZ003dY8cU" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/0vtn8NhofOw" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- JUMPING -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Jumping up</ion-text>
    </ion-label>
    
    <div class="vidSubtitle">What you might need: treats</div>

    <div class="vidDiv">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/Fr5s3Ccj8YA" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/Mb7iEv0RrHQ" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- SHOWER/ BATH -->
    <ion-label class="vidTitleLabel">
        <ion-text class="vidTitle">Shower/ Bath</ion-text>
    </ion-label>
    
    <div class="vidSubtitle">What you might need: treats, dog shampoo</div>

    <div class="vidDiv">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/MCvrxJgy8r0" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/fvENC9mDCSU" frameborder="0" allowfullscreen></iframe>
        <iframe width="360" height="115" src="https://www.youtube.com/embed/IxXFIBausjg" frameborder="0" allowfullscreen></iframe>
    </div>


</ion-content>