.marginTop10 {
  margin-top: 10px;
}

ion-img.logo{
  max-width: 40px;
}

ion-label.vidTitleLabel {
  padding: 10px;
}

ion-text.vidTitle {
  //font-weight: bold;
  color: #007396;
  font-size: 16px;
}

.vidSubtitle{
  padding-left: 10px;
  font-size: 14px;
  color: #898D8D;
}

.vidDiv{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}