<ion-header> <!-- cmd + / : to comment the code out-->
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list type="true">
    <ion-item>
      <ion-input type="text" placeholder="add a task" [(ngModel)]="taskInput"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button color="primary" fill="solid" (click) = "addTask()">Add</ion-button>
    </ion-item>
  </ion-list>

    <ion-list>
      <ion-item *ngFor = "let item of tasks" class="task" [class.done] = "item.status" (click) = "changeStatus(item.date)">
        <ion-label>
          <ion-text>

            <h2 class="name">{{item.name}}</h2>

          </ion-text>

            <p>{{formatDate(item.date)}}</p>

        </ion-label>
        <!-- <ion-checkbox slot="end" [checked] = "item.status" (click) = "changeStatus(item.date)"></ion-checkbox> -->
        <ion-button color="clear" slot="end" *ngIf="item.status" (click) = "deleteItem(item.date)"> <!--*ngIf="item.status": if item's status is true -->
          <ion-icon name="close"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-list>

</ion-content>
